<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyl.mapper.CommentMapper">
    <select id="selectCommentPage" resultType="com.wyl.pojo.Comment">
        SELECT c.id, c.film_id AS filmId, c.score, c.comment, u.name as userName,
        c.time, c.type, f.name AS filmName
        FROM comment c
        LEFT JOIN film f ON c.film_id = f.id
        LEFT JOIN user u ON c.user_id = u.id
        <where>
            <!-- 改为使用comment.filmName -->
            <if test="comment.filmName != null and comment.filmName != ''">
                AND f.name LIKE CONCAT('%', #{comment.filmName}, '%')
            </if>
            <!-- 保留其他查询条件示例 -->
            <if test="comment.userId != null">
                 AND c.user_id = #{comment.userId}
            </if>
            <if test="comment.filmId != null ">
                AND c.film_id = #{comment.filmId}
            </if>
            <if test="comment.type != null">
                 AND c.type = #{comment.type}
            </if>

        </where>
        ORDER BY c.id DESC
    </select>
    <select id="selectFilmIdsByUserId" resultType="java.lang.Integer">
        SELECT film_id
        FROM comment
        WHERE user_id = #{userId}
    </select>


</mapper>
